name: images
run-name: 'images: ${{ inputs.device }} / fedora ${{ inputs.fedora_branch }}'
on:
  workflow_dispatch:
    inputs:
      device:
        type: choice
        description: 'device name'
        required: true
        options:
          - xiaomi-pipa
      fedora_branch:
        type: choice
        description: fedora branch
        required: true
        options:
          - '43'
        default: '43'
jobs:
  images:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        desktop: [plasma-desktop]
    name: ${{ inputs.device }}-${{ matrix.desktop }}:${{ inputs.fedora_branch }}
    steps:
      - uses: actions/checkout@v6
      - uses: pocketblue/actions/images@main
        with:
          device: ${{ inputs.device }}
          registry: ${{ vars.REGISTRY }}
          image_name: ${{ inputs.device }}-${{ matrix.desktop }}
          image_tag: ${{ inputs.fedora_branch }}
      - uses: actions/upload-artifact@v4
        with:
          name: pocketblue-${{ inputs.device }}-${{ matrix.desktop }}-${{ inputs.fedora_branch }}
          path: pocketblue-${{ inputs.device }}-${{ matrix.desktop }}-${{ inputs.fedora_branch }}.7z
          compression-level: 0
